.container {
border: 2px solid red;
height: 60vh;
display: flex;
/* flex-direction: column; */
align-items: center;
/* justify-content: center; */
flex-wrap: wrap;
align-content: center;
flex-flow: column wrap-reverse;
}

.item {
    margin: 4px;
    border: 2px solid black;
    height: 92px;
    width: 92px;
    background-color: violet;
}